<div class="col-md-4 card-container">
<div{{attributes.addClass('card')}}>
    <h4>{{ content.field_card_topic }}</h4>
    <div><a href="{{ content.field_card_link[0]['#url'] }}">{{ content.field_card_image }}</a></div>
    <h3><a href="{{ content.field_card_link[0]['#url'] }}">{{ content.field_card_title }}</a></h3>
    <div>{{ content.field_card_text }}</div>
</div>
</div>